.about-page {
  background: var(--lighter-grayish);
  display: flex;
  flex-direction: column;
}

.about-page h2 {
  font-size: 3.5rem;
  text-align: center;
  padding: 3rem;
}

.about-wrapper {
  display: flex;
  width: 90%;
  margin: auto;
}
.about-left {
  flex: 1 1 20rem;
  width: 100%;
  height: 80vh;

  position: relative;
}

.about-right {
  flex: 1 1 20rem;
  width: 100%;
  height: 70vh;
}
.about-numbers {
  width: 100%;
  padding: 3rem;
  background: var(--grayish-blue);
  display: flex;
  flex-direction: column;
}

.team {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.about-left img {
  position: absolute;
  transition: transform 0.2s ease-in;
}

.about-left .one {
  top: 48%;
  left: 30%;
  width: 50%;
  z-index: 1;
  border-bottom: 0.3rem solid var(--theme-red);
}

.about-left .two {
  top: 20%;
  left: 5%;
  width: 30%;
  z-index: 2;
  border-left: 0.3rem solid var(--theme-red);
}
.about-left .three {
  top: 5%;
  left: 15%;
  width: 40%;
  z-index: 3;
  border-top: 0.3rem solid var(--theme-red);
}
.about-left .four {
  top: 15%;
  left: 40%;
  width: 50%;
  z-index: 6;
}

.about-left .five {
  top: 12%;
  left: 75%;
  width: 40%;
  z-index: 5;

  border-right: 0.3rem solid var(--theme-red);
}

.about-left img:hover {
  transform: scale(0.9);
}
.about-right p {
  width: 70%;
  margin: auto 4rem auto auto;
  padding-top: 20rem;
  font-weight: 400;
}

.about-numbers h2 {
  font-size: 3rem;
  text-align: center;
  padding: 3rem 2rem 1rem 2rem;
}

.about-numbers p {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 2rem 2rem 2rem;
}

.numbers-list {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 3rem;
}

.numbers-list h1 {
  font-size: 5rem;
}
.numbers-list h3 {
  font-size: 2rem;
}

.team-description {
  display: flex;
  justify-content: center;

  width: 70%;
  margin:auto 15rem auto auto;
  
}

.team-description img {
  width: 50%;
  padding: 1.5rem;
  transition: transform 0.2s ease-in;
  border-left: 0.2rem solid var(--theme-red);
}
.team-description img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.team-description h1 {
  font-size: 2.5rem;
}

.team-description h3 {
  font-size: 1.8rem;

  font-weight: 400;
  padding-bottom: 5rem;
  padding-top: 1rem;
}

.items {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin:auto;
  justify-content: space-evenly;
 
}
.projects {
  width: 25%;
}
.customers {
  width: 25%;
}
.services {
  width: 25%;
}
.team-mates {
  width: 25%;
}
.projects img {
  width: 10%;
  margin-bottom: 1rem;
}
.customers img {
  width: 15%;
  margin-top: -1rem;
}
.services img {
  width: 15%;
}
.team-mates img {
  width: 20%;
  margin-bottom: -2rem;
}
