* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  --dark-silver: #5d6163;
  --medium-silver: #a3aaae;
  --light-grayish: #bdc5c9;
  --lighter-grayish: #d5dee3;
  --grayish-blue: #e1eaf0;
  --theme-red: #c04039;
  --theme-blue: #282f63;
}


.main-section {
  display: flex;
  justify-content: space-evenly;
 
}
.left-block {
  width: 20%;
  background: var(--grayish-blue);
  flex: 1 1 20rem;
  margin:2rem 0 2rem 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.right-block {
  width: 40%;
  flex: 1 1 100rem;
  background:var(--lighter-grayish);
  margin: 2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.blog-wrapper{
    width:90%;
    margin:auto auto 7rem auto;
}
.blog-wrapper .title {
  font-size: 4rem;
  padding: 5rem 0 1rem 0;
  font-weight: 600;
}
.blog-wrapper .date {
 
  padding-bottom: 1rem;
}


.blog-content p{
   font-weight: 400;
    margin: 1rem 0;
}
.blog-content figure{
   
    height:40vh;
}
.blog-content img{
    width:100%;
    height:100%;
    margin: auto;
    border-radius: 1rem;
    padding: 2rem 0;
    object-fit: cover;
}

.blog-content blockquote{
    margin:1rem 0;
    font-size: 3rem;
    font-style: italic;
}



.blog-content h1{
    font-size: 3.2rem;
}
.blog-content h2{
    font-size: 2.4rem;
}
.blog-content h3{
    font-size: 1.872rem;
}
.blog-content h4{
    font-size: 1.6rem;
}
.blog-content h5{
    font-size: 1.328rem;
}
.blog-content h6{
    font-size: 1.072rem;
}


.card{
    width:100%;
    height: 15vh;
    background: var(--lighter-grayish);
    border-left: 0.4rem solid var(--lighter-grayish);
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    transition: all 0.2s ease-in;
}

.card .card-image img{
    width:100%;
    object-fit: cover;
    padding:2rem;
}
.card-image{
    flex: 1 1 22.5rem;
}

.card-details{

flex: 1 1 40rem;
height: 80%;
}

.card-details .card-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom:1rem;
}

.card-details .card-date{
    font-size: 1.5rem;
}

.card:hover{
    background: var(--light-grayish);
    border-left: 0.4rem solid red;
    
}

.card-active{
    border-left: 0.4rem solid red;
}
.share-block{
    position:fixed;
    display: flex;
    flex-direction: column;
    background:var(--grayish-blue);
    width: 2.5%;
    margin:auto;
    left:29%;
    top: 21%;
  
}
.share-block img{
    width:80%;
    margin:0.5rem;
}

.share-block img:hover{
    transform: scale(0.9)
}