/*Media Query*/
@media only screen and (max-width: 1500px) {
  .main-head nav {
    width: 100%;
    padding: 0.5rem 2rem 0.5rem 1rem;
  }

  .side-nav img {
    width: 30px;
    left: -25%;
    top: 10%;
  }

  /*hero*/
  .hero-text {
    width: 90%;
  }

  .hero-text h2 {
    font-size: 8rem;
  }

  .hero-text h4 {
    font-size: 4rem;
  }
  .hero-text-button {
    padding: 2rem 3rem;
  }
  .hero-text img {
    width: 2%;
  }

  /*about*/

  .about-header {
    padding-bottom: 3rem;
    align-items: flex-start;
    padding-top: 3.4rem;
  }
  .about-header h1 {
    font-size: 2.8rem;
  }

  /*SERVICES*/

  .service-wrapper {
    padding-bottom: 10rem;
  }
  .section-services {
    padding-top: 0;
  }

  .section-services .service-wrapper {
    width: 80%;
  }

  .section-services .service-wrapper figure {
    width: 25%;
  }
  .section-services .service-wrapper figcaption {
    top: 25%;
    width: 90%;
  }

  .section-services h1,
  .section-why h2,
  .section-blog h2 {
    font-size: 3.2rem;
  }

  /*Why you should choose us*/
  .section-why .block1,
  .section-why .block2 {
    width: 80%;
    margin: auto;
  }

  /*BLOGS*/
  .section-blog .blocks {
    width: 90%;
    margin: auto;
  }
  .section-blog .box {
    height: 50rem;
  }

  /*FAQs section*/
  .faqs-testimonials-section {
    min-height: 90vh;
  }
  .testimonials-section h2 {
    font-size: 3rem;
    width: 70%;
    margin: 1rem auto;
    padding: 3rem 0 0rem 0;
  }

  .testimonials-section .card {
    background: var(--lighter-grayish);
    min-height: 60vh;
    width: 85%;
  }
  .testimonials-section .card p {
    padding: 2rem 2.4rem;
  }
}

@media only screen and (max-width: 1300px) {
  .side-nav img {
    width: 30px;
    left: -15%;
    top: 15%;
  }
  nav a {
    font-size: 1.6rem;
  }
  .section-wrapper {
    padding-bottom: 10rem;
    background-color: var(--light-grayish);
    position: relative;
  }
  .about-header h1 {
    font-size: 2.3rem;
  }
  .about-header p {
    font-size: 1.5rem;
    padding-left: 4rem;
  }
  .highlights figcaption {
    left: 25%;
  }
  .section-services {
    padding-top: 0rem;
  }

  .section-services .service-wrapper {
    width: 90%;
  }

  .section-services .service-wrapper figure {
    width: 25%;
  }
  .section-services .service-wrapper figcaption {
    top: 25%;
    width: 90%;
  }
  .section-services h1,
  .section-why h2,
  .section-blog h2 {
    font-size: 3.2rem;
  }
  .section-blog .blocks .box {
    margin-bottom: 2rem;
  }

  .testimonials-section .card p {
    padding: 1.5rem 3rem;
  }

  .grid1 h3,
  .grid2 h3,
  .grid3 h3 {
    font-size: 2.5rem;
  }
  .grid2 .contact-info {
    width: 70%;
  }
}

/*FOR BIG TABLETS*/
@media only screen and (max-width: 1200px) {
  .checkbtn {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 30rem;
    align-items: flex-end;
    margin-right: 8rem;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 90vh;
    background: var(--lighter-grayish);
    top: 9.3rem;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    z-index: 3;
  }

  #check:checked ~ ul {
    left: 300px;
  }

  .hero-text h2 {
    font-size: 6rem;
  }
  .hero-text h4 {
    font-size: 3rem;
  }
  .hero-text button {
    font-size: 1.8rem;
    padding: 1.5rem;
  }
  .section-services h1 {
    padding-top: 3rem;
  }

  .testimonials-section .quote-icon {
    top: 25%;
    left: 5%;
  }
  .faqs-testimonials-section h2 {
    font-size: 2.8rem;
    margin-left: 5rem;
  }

  .faqs-section .accordion {
    font-size: 1.6rem;
    margin-left: 5rem;
  }

  footer .main h3 {
    font-size: 2.1rem;
  }
  footer .main ul li a,
  footer .main p {
    font-size: 1.5rem;
  }
  footer .main .grid2 .contact-info img {
    width: 10%;
  }
  footer .main .grid2 .contact-footer .footer-logo {
    width: 30%;
  }
  footer .main .grid2 .contact-footer {
    width: 150%;
  }
}

/*TABLETS AND IPADS SCREEN SIZE 768PX YO 1023PX*/
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  .highlights {
    top: 65%;
  }
  .highlights figcaption {
    font-size: 1.4rem;
    padding: 1rem 3rem;
  }
  .section-services .service-wrapper {
    width: 90%;
  }
  .section-services h1 {
    padding-top: 2rem;
  }

  .section-services .service-wrapper figure {
    width: 50%;
    margin: auto;
  }
  .section-services .service-wrapper figcaption {
    top: 25%;
    width: 90%;
  }

  .section-why .blocks .block1,
  .section-why .blocks .block2 {
    width: 100%;
  }

  .section-blog .box p {
    font-size: 1.6rem;
    font-weight: 400;
  }
  .faqs-testimonials-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .faqs-testimonials-section h2 {
    font-size: 2.8rem;
    margin-left: 5rem;
  }

  .faqs-section .accordion {
    font-size: 1.6rem;
    margin-left: 5rem;
  }
  .testimonials-section .for_slick_slider .items {
    margin: 0;
  }
}

/*Phones and smaller tablets*/

@media only screen and (max-width: 950px) {
  .side-nav h1,
  .side-nav a {
    font-size: 1.3rem;
  }

  .side-nav img {
    width: 2.3rem;
  }
  .highlights {
    top: 70%;
  }
  .faqs-testimonials-section {
    display: flex;
    flex-direction: column;
    height: 270vh;
  }
  .testimonials-section {
    margin-top: -5rem;
  }
  .testimonials-section h2 {
    text-align: center;
    width: 100%;

    margin: 0;
  }
  .testimonials-section .blocks {
    width: 100%;
    left: 15%;
  }
  .faqs-section .panel {
    width: 90%;
    margin: auto;
  }

  .faqs-section h2 {
    text-align: center;

    margin: 2rem 0;
    width: 100%;
  }
  .faqs-section {
    width: 90%;
    margin: auto;
  }
  .section-blog .blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-blog .blocks .box {
    margin-bottom: 2rem;
  }
  .section-blog {
    padding-bottom: 5rem;
  }
  .fb-page {
    margin-bottom: 3rem;
  }
  footer .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .main .grid2 {
    text-align: center;
  }
  footer .main .grid2 .contact-footer {
    width: 100%;
  }
  footer .main .grid2 .contact-info {
    width: 100%;
    justify-content: center;
  }
  footer .main h3 {
    width: 100%;
    background: var(--grayish-blue);
    margin: 0;
  }

  footer .main .grid1,
  footer .main .grid2,
  footer .main .grid3 {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
  }
  footer .main .grid2 .contact-info:nth-child(4) {
    margin-left: 1rem;
  }
  footer .main .grid2 .contact-info img {
    width: 5%;
  }
  footer .main .grid1,
  footer .main .grid3 {
    text-align: center;
  }
  footer .main p,
  footer .main .grid1 li a {
    font-size: 1.8rem;
  }
  footer .main .contact-footer .footer-logo {
    margin: 0;
  }
  .social-media-links ul li a img {
    width: 30%;
  }

  .social-media-links ul {
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
  }

  .career-page .career-block {
    width: 90%;
    margin: auto;
  }
  /* .career-page .title h1{
    font-size:1.4rem;
  }
  .career-page .title h4{
    font-size: 1.4rem;
  } */
  .career-page .title img {
    width: 15%;
  }
  .accordion-career {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 850px) {
  .highlights figcaption {
    left: 18%;
  }

  .section-why .blocks {
    width: 100%;
  }
  .section-why .block1 {
    width: 100%;
  }
  .section-about .highlights {
    position: initial;
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: center;
  }
  .section-about .highlights figure {
    width: 60%;
  }
  .section-about .highlights figure img {
    width: 100%;
  }

  .section-about .highlights figure figcaption {
    top: 80%;
    left: 35%;
    padding: 2rem 3rem;
    background: var(--grayish-blue);
  }

  .about-header {
    display: flex;
    flex-direction: column;
  }
  .about-header h1 {
    width: 100%;
    text-align: center;
  }
  .about-header p {
    padding: 2rem;
    flex: 0 0 0;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .side-nav {
    width: 30%;
  }
  .side-nav img {
    left: -18%;
  }
  .section-why .blocks .block1,
  .section-why .blocks .block2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-why h2 {
    font-size: 3rem;
  }

  .faqs-testimonials-section {
    display: flex;
    flex-direction: column;
  }

  .testimonials-section h2 {
    text-align: center;
  }
  .faqs-section h2 {
    text-align: center;
  }
  .faqs-section {
    width: 90%;
    margin: auto;
  }
  .section-blog .blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-blog .blocks .box {
    margin-bottom: 2rem;
  }
  .section-blog {
    padding-bottom: 5rem;
  }
  .fb-page {
    margin-bottom: 3rem;
  }
  footer .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .main .grid2 {
    text-align: center;
  }
  footer .main .grid2 .contact-footer {
    width: 100%;
  }
  footer .main .grid2 .contact-info {
    width: 100%;
    justify-content: center;
  }
  footer .main h3 {
    width: 100%;
    background: var(--grayish-blue);
    margin: 0;
  }

  footer .main .grid1,
  footer .main .grid2,
  footer .main .grid3 {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
  }
  footer .main .grid2 .contact-info:nth-child(4) {
    margin-left: 1rem;
  }
  footer .main .grid2 .contact-info img {
    width: 5%;
  }
  footer .main .grid1,
  footer .main .grid3 {
    text-align: center;
  }
  footer .main p,
  footer .main .grid1 li a {
    font-size: 1.8rem;
  }
  footer .main .contact-footer .footer-logo {
    margin: 0;
  }
  .social-media-links ul li a img {
    width: 30%;
  }

  .social-media-links ul {
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 555px) {
  .section-blog .box {
    width: 40rem;
  }
  .section-about .highlights figure figcaption {
    top: 80%;
    left: 30%;
    padding: 1rem 3rem;
    background: var(--grayish-blue);
  }
  .side-nav {
    display: none;
  }
}

@media only screen and (max-width: 467px) {
}
