.product-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--lighter-grayish);
}

.product-page .header {
  text-align: center;
  width: 70%;
  margin: auto;
}

.product-page .header h2 {
  font-size: 3rem;
  padding: 5rem 2rem 2rem 2rem;
}
.product-page .header p {
  font-weight: 400;
}

.product-blocks {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  transform: scale(0.9);
  padding: 1.5rem;
}
.product-block{
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  position: relative;
}

.product-block .box {
  width: 35rem;
  height: 30rem;
  margin: 1.5rem;
  display: flex;
  z-index: 1;
  flex-direction: column;
  background: var(--grayish-blue);
  transform: scale(1);
  transition: transform 0.3s, background 0.3s;
}

.product-block .box a img
 {
  width: 100%;
}

.product-block .box a img:hover {
  transform: scale(1.01);
  cursor: pointer;
}
.product-block .box h3 {
  font-size: 1.8rem;
  padding-top: 1.5rem;
  padding-right: 4rem;
  cursor: pointer;
  width:90%;
  text-align: center;
  
}

.product-block .product-detail h3::after {
  content: "\002B";
  font-size: 4rem;
  position: absolute;
  color: var(--theme-red);
  top: 80%;
  right: 10%;
  transition: transform 0.2s ease-in-out;
}

.product-block .product-detail.active::after {
  transform: rotate(45deg);
}

.product-detail-body {
  padding-left: 2.5rem;
  position: absolute;
  top: 90%;
  left: 0.75%;
  overflow: hidden;
  background: pink;
  z-index: 100;
  transition: max-height 0.3s ease-in-out;
  width: 21.25%;
  max-height: 0;
}

.product-detail-body ul {
  list-style-type: lower-roman;
  list-style-position: outside;
  font-size: 1.8rem;
  padding: 1rem;
}

.product-detail.active + .product-detail-body {
  max-height: 1000px;
}

.product-detail-body-items {
  padding: 0.5rem;
  background: var(--lighter-grayish);
  width: 100%;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.pagination {
  display: flex;
  padding-bottom:5rem;
}

.pagination a {
  color: black;
  float: left;
  padding: 1rem 1rem;
  text-decoration: none;
}

.pagination a.active {
  background-color: var(--theme-red);
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: var(--theme-blue);
  color: white;
}
