/*Global Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --dark-silver: #5d6163;
  --medium-silver: #a3aaae;
  --light-grayish: #bdc5c9;
  --lighter-grayish: #d5dee3;
  --grayish-blue: #e1eaf0;
  --theme-red: #c04039;
  --theme-blue: #282f63;
}
html,
body {
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
 
}
h1 {
  font-size: 1.5rem;
}
a,
p,
button {
  font-size: 1.8rem;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: black;
}

/*NAV*/
.main-head {
  min-height: 12vh;
  display: flex;
  background: var(--grayish-blue);
  position: relative;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 100%;
}

nav {
  width: 95%;
  padding: 0.5rem 0 0 3rem;
  display: flex;
  /* position: fixed;
  z-index: 1000; */
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
nav ul a {
  transition: all 0.2 ease-in-out;
  padding: 1.6rem;
}

nav ul a.active,
nav ul a:hover {
  background: var(--lighter-grayish);

  color: black;
}

.checkbtn {
  font-size: 3.5rem;
  color: black;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.logo {
  flex: 0 1 20rem;
}

.dropbtn {
  position: relative;
  padding: 20px;
  
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--lighter-grayish);
  width: 20rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100000000;
  border: none;
  top: 180%;
  left: 0%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--light-grayish);
  color: #c04039;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn img {
  width: 12%;
  position: absolute;
  top: 42%;
  left: 90%;
  animation: bouncing 2s;
}

.dropdown:hover .dropbtn img {
  opacity: 0.5;
  animation: none;
}

nav li a:hover {
  color: #c04039;
}
.side-nav {
  position: relative;
  color: #000;

  width: 20%;
}
.side-nav img {
  position: absolute;
  top: 0%;
  left: -15%;
  width: 40px;
}
.phone a:hover {
  color: #282f63;
}

/*HERO SECTION*/
.section-hero {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.hero-text {
  width: 90%;
  margin: 0 auto;
  z-index: 2;
}

.hero-text {
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 3rem;
  color: #e1eaf0;
}
.hero-text h2 {
  font-size: 10rem;
}
.hero-text h4 {
  font-size: 5rem;
}
.hero-text button {
  display: block;
  padding: 2rem 4rem;
  margin: 3rem 0;
  border: none;
  border-radius: 1rem;
  background: #d5dee3;
  color: #000;
  transition: all 0.2s ease-out;
}
.hero-text button:hover {
  background: var(--theme-blue);
  color: var(--theme-red);
  cursor: pointer;
}

.hero-text img {
  margin-left: 5rem;
  margin-top: 4rem;
  width: 3%;
  animation: bounce 2s infinite;
}
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-video video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.507);
  top: 0;
  left: 0;
  z-index: 1;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bouncing {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  60% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
/*About Section*/
.section-about {
  padding-bottom: 10rem;
  background: var(--grayish-blue);
}
.section-wrapper {
  padding-bottom: 20rem;
  background-color: var(--light-grayish);
  position: relative;
}
.about-header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 20vh;
  color: black;
}
.about-header h1 {
  font-size: 3rem;
  flex: 1 1 5rem;
}
.about-header p {
  font-size: 1.8rem;
  flex: 1 1 40rem;
}

.highlights {
  width: 80%;
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  top: 50%;
  left: 10%;
  flex-wrap: wrap;
}
.highlights img {
  width: 100%;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.highlights figure {
  position: relative;
  width: 30%;
}
.highlights figcaption {
  position: absolute;
  font-size: 1.8rem;
  top: 80%;
  left: 35%;
  background: var(--light-grayish);
  padding: 2rem 3rem;
  border: none;
  border-radius: 1rem;

  transition: all 0.2s ease-in-out;
}

.highlights img:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.9;
}

.highlights figcaption:hover {
  background: var(--theme-blue);

  cursor: pointer;
  color: white;
}

/*SECTION SERVICES*/
.section-services {
  background: var(--grayish-blue);
  padding-top: 7rem;
}
.section-services h1 {
  font-size: 4rem;
  /* font-family: "Roboto Condensed", sans-serif; */
  text-align: center;
  padding: 5rem 0 4rem 0;
}

.service-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  padding-bottom: 10rem;
}

.service-wrapper figure {
  width: 25%;
  position: relative;
}

.service-wrapper figure img {
  width: 100%;
  height: auto;
  display: block;

  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-radius: 1rem;
}

.service-wrapper figure img:hover {
  transform: scale(1);
}
.service-wrapper figure:hover {
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.service-wrapper figcaption {
  position: absolute;
  top: 40%;
  background: var(--grayish-blue);
  padding: 1rem;
  border: none;
  font-size: 1.3rem;
  color: var(--white-color);
  width: 90%;
  text-align: center;
  transition: font-size 0.2s;
  z-index: 1;
}

.service-wrapper figcaption:hover {
  color: var(--theme-blue);
  font-size: 1.4rem;
}

/*Section-why*/
.section-why {
  background: var(--light-grayish);
}

.section-why h2 {
  font-size: 4rem;
  text-align: center;
  /* font-family: "Roboto Condensed", sans-serif; */
  padding: 3rem 0 1.5rem 0;
}
.section-why .blocks {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 90%;
  transform: scale(0.9);
  padding-bottom: 3rem;
}
.section-why .block1,
.section-why .block2 {
  display: flex;
  width: 60%;
  margin: auto;
}

.section-why .box {
  width: 35rem;
  height: 23rem;
  border-radius: 2rem;
  margin: 1.5rem;
  background: var(--grayish-blue);
  display: flex;
  align-items: center;
  transform: scale(1);
  transition: transform 0.3s, background 0.3s;
}

.section-why .box a {
  text-align: center;
}

.section-why .box1 img,
.section-why .box3 img,
.section-why .box4 img {
  width: 25%;
  text-align: center;
}
.section-why .box2 img {
  width: 20%;
  text-align: center;
}
.section-why .box5 img,
.section-why .box6 img {
  width: 20%;
}
.section-why .box:hover {
  transform: scale(0.9);
  background: var(--theme-red);
}

/*Section Blogs*/
.section-blog {
  background: var(--lighter-grayish);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-blog h2 {
  font-size: 4rem;
  text-align: center;
  padding: 4rem;
}
.section-blog .blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section-blog .box {
  width: 50rem;
  height: 55rem;
  border-radius: 2rem;
  margin: 1.5rem 1.5rem 8rem 1.5rem;
  background: var(--grayish-blue);
  transform: scale(1);
  transition: transform 0.3s;
  text-align: center;
  transition: all 0.5s ease-in-out;
  padding-bottom: 2rem;
}

.section-blog .box:hover {
  background: var(--theme-blue);
}

.blog-image {
  width: 100%;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.section-blog a {
  width: 100%;
  margin: 0 auto;
  /* background: #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-blog a h3 {
  text-align: center;
  padding-top: 2rem;
}
.section-blog a:hover {
  color: white;
}

.blog-icon {
  width: 5%;
  margin-top: 1rem;
}

.section-blog p {
  font-size: 1.7rem;

  width: 90%;
  font-weight: 600;
  margin: 1rem auto;
}

.section-blog button{
  padding: 2rem 3rem;
  border:none;
  margin-bottom: 4rem;
  border-radius: 2rem;
  font-size: 1.6rem;
  background: var(--grayish-blue);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.section-blog button:hover{
  background: var(--theme-blue);
  color:white;
}

/*FAQS AND TESTIMONIALS*/
.faqs-testimonials-section {
  display: flex;
  padding-bottom: 6rem;
  background: var(--grayish-blue);
}
.faqs-section {
width:50%;
  
}
.faqs-section h2 {
  margin-left: 12rem;
  margin: 4rem auto 3rem 12rem;
  font-size: 3rem;
}
.testimonials-section {
  background: var(--grayish-blue);
  width:50%;
}

.accordion {
  background-color: var(--lighter-grayish);
  color: black;
  cursor: pointer;
  padding: 1.8rem;
  width: 90%;
  outline: none;
  font-size: 1.7rem;
  border: none;
  border-radius: 2rem;
  margin-top: 1.5rem;
  margin-left: 12rem;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.accordion::after {
  content: "\002B";
  font-size: 4rem;
  position: absolute;
  color: var(--theme-red);
  top: 10%;
  left: 5%;
  transition: transform 0.2s ease-in-out;
}

.accordion.active:after {
  transform: rotate(45deg);
}
.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.accordion.active + .accordion-body {
  max-height: 1000px;
}

.accordion .title {
  margin-left: 10%;
  text-align: left;
}
.accordion:hover {
  background-color: var(--theme-blue);
  color: white;
}

.active {
  background: var(--theme-blue);
  color: white;
}

.panel {
  padding: 2rem;
  background-color: var(--grayish-blue);
  overflow: hidden;
  width: 100%;
  margin-left: 12rem;
}
.panel p {
  font-size: 1.7rem;
  font-weight: 400;
}

.testimonials-section .for_slick_slider{
  display:flex;
 margin-left:4rem;
}
.testimonials-section.for_slick_slider .items{
   width:700px;
   height:450px;
  margin-left: 50px;
 }


.testimonials-section .card {
  width: 700px;
  height:450px;
  padding-bottom: 3rem;
  background: var(--lighter-grayish);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.testimonials-section .card:hover {
  background: var(--theme-blue);
  color: var(--grayish-blue);
  cursor: pointer;
}
.testimonials-section h2 {
  font-size: 3rem;
  width: 68%;
  margin: auto;
  padding: 3rem 0 1rem 0;
}

.testimonials-section .card p {
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  font-weight: 400;
}
.testimonial-image {
  width: 20%;
  border-radius: 2rem;
  padding: 1rem 0 1rem 0;
}

.quote {
  width: 100%;
}
.quote-icon {
  width: 5%;
  margin-left: 5%;
}

.testimonials-section h4 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}
.testimonials-section h5 {
  font-size: 1.2rem;
text-align: center;
  font-style: italic;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

/*BRANDS */
.brands-section {
  background: var(--lighter-grayish);
}
.brand-wrapper {
  display: flex;
  width:80%;
  margin:auto;
}

.brand-wrapper .items{
  width:200px;
  height:150px;
  margin:50px;
}
.brand-wrapper .items img{
  width:200px;
  height:150px;
}
.brands-section h2 {
  font-size: 3rem;
  text-align: center;
  padding: 3rem;
}


@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .main {
  background: var(--light-grayish);
  width: 100%;
  display: flex;
}

.grid1 {
  flex: 1 1 25rem;
  margin-left: 2rem;
}
.grid1 h3,
.grid2 h3 {
  font-size: 3rem;
  padding: 2rem;
  color: var(--dark-silver);
}
.grid3 h3 {
  padding: 2rem 0;
  font-size: 3rem;
  color: var(--dark-silver);
}
.grid1 ul {
  list-style: none;
  padding: 0 2rem 2rem 2rem;
}
.grid1 ul li {
  margin: 1rem;
}
footer ul li a {
  color: var(--dark-silver);
}
.grid1 ul li a:hover {
  color: var(--theme-red);
}
.grid2 {
  flex: 1 1 30rem;
  margin-left: 3.5rem;
}
.grid2 h3 {
  margin-left: 3rem;
}
.grid2 .contact-info {
  width: 60%;
}
.grid2 .contact-info img {
  width: 10%;
  margin-right: 2rem;
}
.grid2 .footer-logo {
  width: 20%;
  margin-left: 15%;
}
.grid2 .contact-info {
  display: flex;
  padding: 1rem 0rem 0.5rem 5rem;
  color: var(--dark-silver);
}

.contact-info:hover {
  color: var(--theme-red);
}

.grid3 {
  flex: 1 1 20rem;
  margin-right: 10rem;
}

footer .small {
  background: var(--medium-silver);
  width: 100%;
  text-align: center;
  padding: 1.5rem;
}

footer .small p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: black;
}

.social-media-links {
  width: 100%;
}
.social-media-links ul {
  list-style: none;
  display: flex;
  width: 90%;
  margin-bottom: 2rem;
  justify-content: flex-start;
}

.social-media-links ul li {
  width: 30%;
}

.social-media-links ul li a img {
  width: 35%;
}
